<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="radiant.rpl.radiantrpl">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.radiant.rpl.testa.Initials.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/tlogohdd"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/tlogohdd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name="com.radiant.rpl.testa.ExamSection.Certificate_details"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2"
            ></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vysh.fullsizeimage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.radiant.rpl.testa.Common.Camera_activity" />
        <activity
            android:name="com.radiant.rpl.testa.Initials.Activity_Rplintroduction"
            android:label="Introduction"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.Registration.Upica_Registration"
            android:label="Registration"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.Registration.Ola_uber_registration"
            android:label="Registration"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.Registration.Company_dropdown"
            android:label="Choose Company"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.radiant.rpl.testa.EyeBlink.Eye_blinkActivity"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.radiant.rpl.testa.Barcode_d.FullScannerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.radiant.rpl.testa.ExamSection.Update_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.radiant.rpl.testa.ExamSection.TestQuestion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.radiant.rpl.testa.Registration.Amway_Registration"
            android:label="Registration"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.ExamSection.ContactUsActivity"
            android:label="Contact Us"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.ExamSection.Technical_Activity"
            android:label="Feedback"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.Initials.Testinstruction"
            android:label="Instructions"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name="com.radiant.rpl.testa.ExamSection.Testviva"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.radiant.rpl.testa.Registration.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.radiant.rpl.testa.ExamSection.Thankspage"
            android:label="Thanks"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>